.navLink {
  color: #1a1a1a;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 24px;
}

.navLink:hover {
  color: #0075f2;
  border-bottom: 2px solid #0075f2;
  padding-bottom: 8px;
}

.navLink:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .navLink {
    margin-right: 12px;
  }
}
