.button1 {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  background: #0075f2;
  color: #fff;
  border-radius: 4px;
  padding-right: 36px;
  padding-left: 36px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

.button2 {
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  background: #0075f2;
  color: #fff;
  border-radius: 4px;
  padding-right: 36px;
  padding-left: 36px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
}

.button3 {
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  background: #0075f2;
  color: #fff;
  border-radius: 4px;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

.button4 {
  font-size: 11px;
  line-height: 16px;
  display: inline-block;
  background: #0075f2;
  color: #fff;
  border-radius: 4px;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

.tabs {
  color: #1a1a1a;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.tabs.active,
.tabs:hover {
  color: #0075f2;
  border-bottom: 2px solid #0075f2;
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .button1 {
    font-size: 18px;
    line-height: 24px;
  }

  .button2 {
    font-size: 16px;
    line-height: 20px;
  }

  .button3 {
    font-size: 14px;
    line-height: 20px;
  }

  .button4 {
    font-size: 12px;
    line-height: 16px;
  }

  .tabs {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 920px) {
  .button1 {
    font-size: 21px;
    line-height: 28px;
  }

  .button2 {
    font-size: 18px;
    line-height: 24px;
  }

  .button3 {
    font-size: 16px;
    line-height: 20px;
  }

  .button4 {
    font-size: 14px;
    line-height: 20px;
  }

  .tabs {
    font-size: 21px;
    line-height: 28px;
  }
}
